.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#body {
    background-image: url("./img/colorful-abstract-art-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100svh;
    background-position: center;

}



#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

#icon {
    display: block;
    margin: 2em auto 1em auto;
    width: min(80vw, 20em);
    height: auto;
    padding: 5% 5% 5% 5%;
}

#icon>img {
    border-radius: 20%;
    width: 100%;
    height: 100%;
}



#main>#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1em 10% 1em 10%;
    background-color: rgba(220, 220, 255, 0.5);
}

#name {
    text-align: center;
}

#name>.profile-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#history {
    width: auto;
    text-align: center;
    padding: 1em 10% 1em 10%;
}

#history>.profile-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#history>.element {
    margin-top: 1em;
    margin-bottom: 1em;
}

#history>.element>.time>.month {
    font-size: small;
}

#history>.element>.content {
    margin-top: 0.5em;
}

#links {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}


#links>.links-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#links>.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#links>.elements>.element>a>img {
    width: 4em;
    height: 4em;
    margin: 0 1em 0 1em;
}

#recent_activity {
    width: 100%;
}

#recent_activity>.recent_activity-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#recent_activity>.tabs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 100%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}

#recent_activity>.tabs>.tab {
    padding: auto;
}




#portfolio {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}

#portfolio>.portfolio-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#portfolio>.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#license {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}

#license>.license-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#license>.elements>.element {
    font-size: normal;
}



#contact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}

#contact>.contact-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#contact_name,
#contact_belong,
#contact_email,
#contact_message,
#contact_submit {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    width: 100%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
    border: 0.2em solid whitesmoke;
    border-radius: 10px;
}

#contact_name>p,
#contact_belong>p,
#contact_email>p,
#contact_message>p {
    margin: 0.5em 0 0.5em 0;
}

#contact_name>input,
#contact_belong>input,
#contact_email>input {
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 90%;
    border: none;
    background-color: whitesmoke;
}

#contact_message>textarea {
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 90%;
    border: none;
    background-color: whitesmoke;
    height: 10em;
}


#contact_submit>input {
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 90%;
    border: none;
}



#site-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}

#site-info>.site-info-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#site-info>.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#site-info>.elements>.element>a>img {
    width: 3em;
    height: 3em;
}

#site-info>.credits-head {
    font-size: small;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#site-info>.credits {
    align-items: center;
}

#site-info>.credits>.elements>.element {
    font-size: small;
    color: gray;
}

#site-info>.references-head {
    font-size: small;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#site-info>.references {
    align-items: center;
}

#site-info>.references>.elements>.element {
    font-size: small;
    color: gray;
}