.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#body {
    background-image: url("./img/colorful-abstract-art-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}



#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#icon {
    display: block;
    margin: 0 auto;
    width: 20em;
    height: auto;
    border-radius: 20%;
}



#main>#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1em 10% 1em 10%;
    background-color: rgba(220, 220, 255, 0.5);
}

#name {
    text-align: center;
}

#name>.profile-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#history {
    width: auto;
    text-align: center;
    padding: 1em 10% 1em 10%;
}

#history>.profile-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#history>.element {
    margin-top: 1em;
    margin-bottom: 1em;
}

#history>.element>.time>.month {
    font-size: small;
}

#history>.element>.content {
    margin-top: 0.5em;
}

#links {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}


#links>.links-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#links>.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#links>.elements>.element>a>img {
    width: 4em;
    height: 4em;
    margin: 0 1em 0 1em;
}


#portfolio {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}

#portfolio>.portfolio-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#portfolio>.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#license {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}

#license>.license-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#license>.elements>.element {
    font-size: normal;
}


#site-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 1em 10% 1em 10%;
    width: 80%;
    text-align: center;
    background-color: rgba(220, 220, 255, 0.5);
}

#site-info>.site-info-head {
    font-size: large;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#site-info>.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#site-info>.elements>.element>a>img {
    width: 3em;
    height: 3em;
}

#site-info>.credits-head {
    font-size: small;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#site-info>.credits {
    align-items: center;
}

#site-info>.credits>.elements>.element {
    font-size: small;
    color: gray;
}

#site-info>.references-head {
    font-size: small;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#site-info>.references {
    align-items: center;
}