#link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.linkSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.linkSection>img {
    font-size: 2em;
    width: 2em;
    height: 2em;
    filter: grayscale(1) brightness(0.5) contrast(1.2);

}

.linkSection>p {
    width: 6em;
    font-size: 2em;
    color: #4a5a6a;
    font-weight: 500;
    align-content: center;
    text-align: center;
}