#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    box-shadow:
        0 4px 16px rgba(80, 90, 110, 0.20),
        /* 外側の柔らかい影 */
        inset 0 0 1em rgba(0, 0, 0, 0.07);
    /* 内側の淡い影 */
}